.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    align-items: flex-start; 
    flex-wrap: nowrap; 
}

.footer h2 {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    text-align: center;
    padding-bottom: 10px; /* Başlık altında biraz boşluk bırak */
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer a {
    text-decoration: none;
    color: #333;
    opacity: 1;
    transition: all 0.5s;
}

.footer a:hover {
    opacity: 0.5;
}

.footer-services, .footer-news, .footer-support, .footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%; /* Her bölüm için eşit genişlik */
    text-align: center; /* Yazıları ortalar */
}

.footer li {
    text-align: center;
    padding: 5px;
}

.footer-links ul {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.footer-links li {
    margin-top: 30px;
}

.footer-links i {
    font-size: 30px;
}

/* Medium screens - Orta ekranlar için düzenleme */
@media (max-width: 768px) {
    .footer {
        flex-direction: column; /* Daha küçük ekranlarda dikey yerleşim */
        align-items: center;
        justify-content: center;
        height: auto; 
    }
    
    .footer-services, .footer-news, .footer-support, .footer-links {
        width: 100%; /* Her bir bölümün tam genişlikte olması */
        text-align: center;
        margin-bottom: 20px; /* Her bölümün arasında boşluk bırak */
    }
}

/* Small screens - Küçük ekranlar için düzenleme */
@media (max-width: 468px) {
    
    .footer-links ul {
        justify-content: center; /* İkonları ortalar */
    }

    .footer-links i {
        font-size: 25px; /* Daha küçük ekranlarda ikon boyutunu küçült */
    }
}
