/* General Styles for all sections */
.hostels, .kitchen, .organic, .tours {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    padding: 0 20px;
}

.hostels h2, .kitchen h2, .organic h2, .tours h2 {
    font-size: 20px;
    padding: 20px;
    font-weight: 500;
    display: inline;
}
.hostels-wrapper, .kitchen-wrapper, .organic-wrapper, .tours-wrapper {
    display: flex;
    overflow-x: auto; 
    overflow-y: hidden; 
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px 0;
    scrollbar-width: none; 
    width: 100%;
    white-space: nowrap;
}

.hostel-item, .kitchen-item, .organic-item, .tours-item {
    min-width: 250px; /* Her bir item için minimum genişlik */
    max-width: 350px; /* Sabit genişlik ver */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    transition: 0.3s;
    border-radius: 12px;
    background: #fff;
    flex-shrink: 0; /* Daralmayı engelle */
}

.hostels-wrapper::-webkit-scrollbar, 
.kitchen-wrapper::-webkit-scrollbar, 
.organic-wrapper::-webkit-scrollbar, 
.tours-wrapper::-webkit-scrollbar {
    display: none; /* Hides scrollbar for WebKit browsers (Chrome, Safari) */
}


.hostel-item img, .kitchen-item img, .organic-item img, .tours-item img {
    padding: 10px;
    width:98%;
    border-radius: 12px;
    object-fit: cover;

}

.hostel-item h3, .kitchen-item h3, .organic-item h3, .tours-item h3,
.hostel-item p, .kitchen-item p, .organic-item p, .tours-item p,
.hostel-item pre, .kitchen-item pre, .organic-item pre, .tours-item pre {
    color: #333;
    margin-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.hostel-item h3, .kitchen-item h3, .organic-item h3, .tours-item h3 {
    font-size: 16px;
}

.hostel-item p, .kitchen-item p, .organic-item p, .tours-item p,
.hostel-item pre, .kitchen-item pre, .organic-item pre, .tours-item pre {
    font-size: 12px;
}

.hostel-item pre, .kitchen-item pre, .organic-item pre, .tours-item pre {
    font-weight: bold;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
    font-size: 18px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    display: none;
}

.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.scroll-button.left {
    left: 20px;
}

.scroll-button.right {
    right: 20px;
}

/* Responsive Design */
@media (min-width: 600px) {
    .hostel-item, .kitchen-item, .organic-item, .tours-item {
        width: 70%; /* Increase width for medium screens */
        max-width: 500px;
    }
    .hostels h2, .kitchen h2, .organic h2, .tours h2 {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .hostel-item, .kitchen-item, .organic-item, .tours-item {
        width: 50%; /* Increase width for larger screens */
        max-width: 600px;
    }

    .hostels h2, .kitchen h2, .organic h2, .tours h2 {
        font-size: 24px;
    }

    .hostel-item h3, .kitchen-item h3, .organic-item h3, .tours-item h3 {
        font-size: 18px;
    }

    .hostel-item p, .kitchen-item p, .organic-item p, .tours-item p,
    .hostel-item pre, .kitchen-item pre, .organic-item pre, .tours-item pre {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .hostel-item, .kitchen-item, .organic-item, .tours-item {
        width: 45%; /* Increase width for even larger screens */
        max-width: 700px;
    }
}

@media (min-width: 1200px) {
    .hostel-item, .kitchen-item, .organic-item, .tours-item {
        width: 40%; /* Increase width for very large screens */
        max-width: 800px;
    }
}
