.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 800px;
  position: relative;
  
}
.main-search{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes Motiv {
  from{
    transform: translateY(-20px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
  
}
.logo_motiv{
  font-size: 2em;
  letter-spacing: 1px;
  margin-top: 50px;
  font-weight: 800;
  animation: Motiv 1s linear;
}
.main-search ul{
  margin-top: 50px;
  display: flex;
  gap: 20px;
  list-style: none;
}
.main-search li{
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
 
}
.main-search li::before{
  content: "";
  width: 0;
  border: 1px solid;
  position: absolute;
  bottom: 0;
  transition: all 0.4s ease;
  opacity: 0;
  
}
.main-search li:hover::before{
  width: 100%;
  opacity: 1;
}
.main-search a{
  text-decoration: none;
  color: #333;
  opacity: 0.8;
}
.main-search button{
  border: none;
  font-size: 1em;
  cursor: pointer;
}
.main-search i{
  font-size: 1em;
}
.main-search button:hover{
  opacity: 1;
}
.search{
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 20px;
  border-radius: 24px;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: text;
}
.search input{
  width: 60%;
  padding: 10px;
  border: none;
  outline: none;
  position: absolute;
  left: 5%;
  top: 20%;

}
.search i{
  font-size: 1.5em;
  color: #333;
  opacity: 0.8;
}
.search button{
  padding: 10px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: #00A100;
  border: none;
  color: #fff;
  font-weight: 500;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.news-poster {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  width: 100%;
  border: 1px sol;
  
}
.news-poster img{
  width: 100%;
  height: 550px;
  object-fit: cover;
  border-radius: 12px;
  
}
.news-poster.active {
  opacity: 1;
}
.banner-con{
  position: absolute;
  top:70%;
  left: 0%;
  width: 100%;
  height: 160px;
  padding: 10px;
  background:transparent;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-con h2,p{
  background-color: transparent;
  color: #fff;
  font-weight: 600;
}
.banner-con h2{
  font-size: 3em;
}
.banner-con p{
  font-size: 1.5em;
  font-style: italic;
}